# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

# mypy, Pyre, Pylint, etc.
.mypy_cache/
.pyre/
.pylint.d/

# IDEs/editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Local env files or credentials
.env
.env.*
*.local

# Django-specific
*.sqlite3
db.sqlite3
media/
staticfiles/
